body{
  background-image: url(foto3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: black;
}

/* Container styles */
.container {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #000000;
  border-radius: 8px;
  background-color: #b7feff;
  font-family: 'Oswald', sans-serif;

}

/* Header styles */
.header {
  text-align: center;
  margin-bottom: 20px;
}

.header h3 {
  font-family: 'Poetsen One', sans-serif;
  font-size: 1.5em;
  color: #010101;
}

/* Form element styles */
form label {
  font-weight: bold;
  margin-bottom: 5px;
  display: inline-block;
  color: #000000;
}

form input[type="text"],
form select,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #e82121;
  border-radius: 4px;
  font-size: 1em;
  font-family: 'Oswald', sans-serif;
}

form input[type="radio"] {
  margin-right: 5px;
}

form label[for="programing"],
form label[for="desain"],
form label[for="jaringan"],
form label[for="data"] {
  margin-right: 15px;
}

form p {
  font-weight: bold;
  margin-bottom: 10px;
  color: #000000;
}

form button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #333;
  color: #fff;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #555;
}
